.react-calendar{
    height: 195px;
    width: 260px;
    line-height: 0.5em;
}

.react-calendar__navigation{
    height: 14px;
}
  
  body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .grid3Column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: ". . .";
}

.divColumn {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 10px 20px

}