@media screen and (min-width: 1900px) {
    .texto{
        font-size: 13px;
    }

    .textoPequeño{
        font-size: 10px;
    }
}

.texto{
    font-size: 15px;
}

.textoPequeño{
    font-size: 14px;
}