.containerFormPaciente {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 50px;
    grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". .";
}

.containerText {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

.containerEspecificaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . .";
    align-items: center;
}

.containerReceta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . .";
    align-items: center;
}

.cajasReceta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #b6b6b6;
}

p {
    margin: 0%;
}

.parrafoReceta {
    font-size: 17px;
    margin: 1%;
}

.campo {
    font-weight: 700;
}

.valor {
    font-weight: 300;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.subtitulo {
    font-weight: 300;
    color: rgb(60, 59, 59);
}

.infoLentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
}

.grid3Column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: ". . .";
}