.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". ."
        ". .";
}

.containerPadre {
    height: 100vh;
    background-color: #94d0ff6e;
    position: relative;
    margin: 0%;
}

@media (max-width: 1500px) {
    .containerPadre {
        height: 135vh;
        background-color: #94d0ff6e;
        position: relative;
        margin: 0%;
    }
}

@media (min-width: 1500px) and (max-width: 1900px) {
    .containerPadre {
        height: 125vh;
        background-color: #94d0ff6e;
        position: relative;
        margin: 0%;
    }
}