.containerPadre {
    height: 100vh;
    background-color: #a6ff946e;
    position: relative;
    margin: 0%;
}

@media (max-width: 1500px) {
    .containerPadre {
        height: 125vh;
        background-color: #ac3a116e;
        position: relative;
        margin: 0%;
    }
}

@media (min-width: 1500px) and (max-width: 1900px) {
    .containerPadre {
        height: 125vh;
        background-color: #ffc8946e;
        position: relative;
        margin: 0%;
    }
}